.main-chat
  .main-header
    .main-header--left-box
      %h2.main-header--left-box-group-name
        テスト
      %p.main-header--left-box-group-menber
        menber
    .main-header--right-box
      Edit
  .chat-main__message-list
  .chat-main__message-form