.chat-main
  .main-header
    .main-header--left-box
      %h2.main-header--left-box-group-name
        テスト
      %p.main-header--left-box-group-menber
        menber
    .main-header--right-box
      = link_to "Edit", href = "#", class: "main-header--right-box--edit-btn"
  .chat-main__message-list
    .chat-main__message-list--message
      .chat-main__message-list--message--up-side
        %p.chat-main__message-list--message--up-side--name
          samplename
        %p.chat-main__message-list--message--up-side--date
          2020/2/20
      %p.chat-main__message-list--message--text
        sample-text
    .chat-main__message-list--message
      .chat-main__message-list--message--up-side
        %p.chat-main__message-list--message--up-side--name
          samplename
        %p.chat-main__message-list--message--up-side--date
          2020/2/20
      %p.chat-main__message-list--message--text
        sample-text
  .chat-main__message-form
    %form.form{:action => "#",:method => "post"}
      .form-box
        %input.form-box--text{:type => "text_area",:placeholder => "type a message"}
        %label.form-box--label
          = icon('fas', 'image')
          %input.form-box--image-submit{type: "file"}
        %input.form-box--submit{:type => "submit",:name => "commit", :value => "Send"}