.side-bar
  .side-bar__user-name
    .tip-items
      .tip-items__name masa
      .tip-items__icons
        = link_to href = "#" do
          = icon('far','edit')
        = link_to href = "#" do
          = icon('fas','cog')
  .side-bar__group-list
    .groups
      .group
        %p.group-name
          techcamp
        %p.group-text
          まだメッセージがありません
      .group
        %p.group-name
          techcamp
        %p.group-text
          まだメッセージがありません
      .group
        %p.group-name
          techcamp
        %p.group-text
          まだメッセージがありません